.login-container {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -44px;
    border: 1px solid red; // img {
    //   max-width: 140px;
    // }
    .name {
      font-size: 40px;
      font-weight: 600;
    }
  }

  .btn-login {
    // display: flex;
    // .loader {
    //   animation: spin 1s infinite linear;
    //   max-width: 50px;
    // }

    // @keyframes spin {
    //   from {
    //     transform: scale(1) rotate(0deg);
    //   }
    //   to {
    //     transform: scale(1) rotate(360deg);
    //   }
    // }
    // font-size: 16px;
    // border: 1px solid white;
    // color: rgb(255, 255, 255);
    // background-color: rgba(0, 0, 0, 0);
    // border-radius: 10px;
    // width: 145px;
    // height: 47px;
    // // padding: 8px 48px;
    // &:hover {
    //   background-color: rgba(0, 0, 0, 0.289);
    //   //   color: black;
    // }
  }

  .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 145px;
    height: 47px;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled,
    &[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }

    .loader {
      width: 20px; /* Kích thước loader vừa vặn với chữ */
      height: 20px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-top-color: #fff;
      border-radius: 50%;
      animation: spin 1s infinite linear;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.289);
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .btn-goback {
    opacity: 0.8;
    color: white;
    text-decoration: underline;
    border: none;

    &:hover {
      color: aqua;
    }
  }

  .singup {
    margin-left: 3px;
    font-size: 17px;
    opacity: 0.8;
    color: white;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    &:hover {
      color: aqua;
    }
  }
}
