body {
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.signup-container {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // margin-top: 22px;
    margin-bottom: -44px;
    border: 1px solid red; // img {
    //   max-width: 140px;
    // }
    .name {
      font-size: 40px;
      font-weight: 600;
    }
  }
  .btn-goback {
    opacity: 0.8;
    color: white;
    text-decoration: underline;
    border: none;
    &:hover {
      color: aqua;
    }
  }

  .login {
    margin-left: 3px;
    font-size: 17px;
    opacity: 0.8;
    color: white;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    &:hover {
      color: aqua;
    }
  }
}
