body {
  overflow: hidden;
}

.admin-container {
  display: flex;
  svg {
    width: 26px;
    height: 26px;
  }
  .admin-sidebar {
    // padding-top: 10px;
    height: 100vh;

    aside.ps-sidebar-root.css-1wvake5 {
      height: 100%;
    }

    hr {
      margin: 0 50px 0 50px;
    }

    .css-dip3t8 {
      background-color: rgba(249, 249, 249, 0.233);
    }
    // ------------------------------------------------
    .sidebar-header {
      container-type: inline-size;
      text-align: center;
      display: flex;
      gap: 5px;
      .icon {
        img {
          max-width: 65px;
        }
      }
      .name {
        font-size: 35px;
        color: rgba(0, 0, 1, 0.831);
        font-weight: 700;
      }
    }
    // ------------------------------------------------
    .sidebar-body {
      height: 90%;

      span {
        &.ps-menu-label {
          &.css-12w9als {
            font-weight: 500;
          }
        }
      }

      a {
        &.ps-menu-button {
          &:hover {
            background-image: url("../../assets/img/bg-sidebar.png");
          }
        }
      }

      .ps-submenu-content {
        background: transparent;
        background-color: rgba(102, 181, 190, 0.546) !important;
      }
    }
    // ------------------------------------------------
    .sidebar-footer {
      container-type: inline-size;
      text-align: center;
      margin-top: -60px;

      hr {
        margin-bottom: 10px;
        padding: 0 !important;
      }
      .banchan {
        padding: 10px 45px 10px 45px;
        .long-name {
          border-radius: 60px;
          background-color: rgba(255, 255, 255, 0.626);
          font-size: 22px;
          font-weight: 700;
        }
        .short-name {
          display: none;
          border-radius: 60px;
          background-color: rgba(255, 255, 255, 0.626);
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
    @container (max-width: 80px) {
      .sidebar-header {
        .icon {
          padding-left: 10px;
        }
      }

      .sidebar-body {
        .ps-submenu-expand-icon {
          span {
            display: none;
          }
        }
      }

      .sidebar-footer {
        .banchan {
          padding: 0;
          .long-name {
            display: none;
          }
          .short-name {
            display: inline;
            padding: 5px;
          }
        }
      }
    }
  }

  .admin-content {
  }
}
