.detail-quiz-container {
  margin-top: 70px;
  display: flex;
  gap: 20px;

  .left-content {
    width: 70%;
    border: 1px solid red;

    .title {
      font-size: 26px;
      font-weight: 600;
    }

    .question-content {
      margin-left: 10px;

      .ques-img {
        text-align: center;
        img {
          max-width: 444px;
        }
      }

      .question {
        text-align: center;
        margin-top: 16px;
        font-size: 24px;
        font-weight: 600;
      }

      .answers {
        display: flex;
        flex-direction: row;
        gap: 69px;
        justify-content: center;
        margin: 15px 7px;
        .answer {
          display: flex;
          gap: 10px;
          font-size: 20px;
          .choose {
            padding: 7px 14px;
            border: 1px solid black;
            border-radius: 24px;

            &:hover {
              color: white;
              background-color: rgb(1, 110, 193);
            }
          }
        }
      }
    }

    .question-footer {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
  }

  .right-content {
    width: 30%;
    border: 1px solid rgb(17, 0, 255);
  }
}
