body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

.app-container {
  .header-container {
    nav {
      &.bg-body-tertiary {
        &.navbar {
          padding: 15px;
          &.navbar-expand-lg {
            &.navbar-light {
              z-index: 10;
              opacity: 0.7;
              // background-color: #0066ff;
            }
          }
        }
      }
    }

    .btn-login {
      height: 40px;
      border: 1px solid black;
      padding: 0px 15px;
      border-radius: 5px;
      margin-right: 15px;
    }

    .btn-signup {
      height: 40px;
      background-color: rgb(0, 0, 0);
      color: white;
      border: 1px solid black;
      padding: 0px 15px;
      border-radius: 5px;

      &:hover {
        background: rgb(67, 67, 67);
      }
    }

    .navbar-nav {
      .nav-link {
        &.active,
        &.show {
          color: #0066ff;
        }
      }
    }
  }

  .homepage-container {
    .homepage-content {
      background-image: url("../../video/homepage.mp4");
      width: 50%;
      position: relative;
      padding: 30px;
      margin: 100px 0 0 100px;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .title {
        font-size: 45px;
        font-weight: 600;
      }
      .mota {
        font-size: 25px;
      }

      .btn-title {
        button {
          height: 40px;
          background-color: rgb(0, 0, 0);
          color: white;
          border: 1px solid black;
          padding: 0px 15px;
          border-radius: 5px;
          border: none;
          &:hover {
            background: rgb(67, 67, 67);
          }
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
